.mainproggress {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  text-align: end;
  padding: 2px 4px;
  font-size: 12px;
}
.mainproggress p::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 0;
  height: 100%;
  border-radius: 5px;
  background: #c6c7f8;
}
